.megaBox {
    width: 900px;
    height: 900px;
    background: #c0c0c0;
    margin: 0 auto;
}

.box1 {
    width: 100%;
    height: 300px;
    background: chartreuse;
}
.mainDown{
    display: flex;
}


.right{
    display: flex;
}
.box8 {
    display: flex;
    width: 300px;

    height: 600px;
    background: hotpink
}
.left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box2 {
    width: 200px;
    height: 300px;


    background: yellow;
}



.box3 {
    width: 200px;
    height: 300px;


    background: darkmagenta;
}

.box4 {
    width: 200px;
    height: 300px;


    background: khaki;
}

.box5 {
    width: 200px;
    height: 300px;


    background: darksalmon;
}
.box6{
    width: 200px;
    height: 300px;
    background: blueviolet;
}
.box7{
    width: 200px;
    height: 300px;
    background: maroon;
}


