.megaBox{

    width: 900px;
    height: 800px;
    background: silver;
    margin: 0 auto;

}

.box {
    width: 300px;
    height: 300px;
    background: green;
    /*margin: 10px;*/
}
.flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.b1{
    font-size: 72px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: fuchsia;
}
.b2{
    font-size: 72px;
    display: flex;
    justify-content: center;
    background: red;
    width: 700px;
    height: 500px;
}
.b3{
    font-size: 72px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 500px;
}





/*2 завдання*/
.megaBoxx{

    width: 900px;
    height: 800px;
    background: silver;
    margin: 0 auto;

}

.boxx{
    width: 300px;
    height: 300px;
    background: green;
    /*margin: 10px;*/
}
.flexx{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.b11{
    font-size: 72px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: fuchsia;
}
.b22{
    font-size: 72px;
    display: flex;
    justify-content: center;
    background: red;
    width: 700px;
    height: 250px;
}
.b32{
    font-size: 72px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 500px;
}
.b44{

    background: palegreen;
    width: 100px;
    height: 100px;

}

