.megaBox {
    width: 900px;
    height: 900px;
    background: #c0c0c0;
    margin: 0 auto;
}

.box1 {
    width: 100%;
    height: 300px;
    background: chartreuse;
}


.b2 {
    width: 600px;

    background: yellow;
}

.main{
    display: flex;
}
.mainTOP{
    display: flex;
    width: 600px;
    height: 300px;
}

.mainDown{
    display: flex;

    height: 300px;
}


.b3 {
    width: 200px;


    background: darkmagenta;
}

.b4 {

    width: 200px;
    background: khaki;
}

.b5 {

    width: 200px;
    background: darksalmon;
}

.b6 {
    display: flex;
    width: 300px;

    height: 600px;
    background: hotpink
}


